<div class="breadcrumbs-wrap">
    <ul class="breadcrumbs">
        <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
            <a href="/" itemprop="url"><span itemprop="title">Главная</span></a>
        </li>
        <li class="breadcrumbs__separator">//</li>
        <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
            <span itemprop="title">Some page...</span>
        </li>
    </ul>
</div> <!--breadcrumbs-wrap-->
